body {
    background-color: lightgray;
}

.container {
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 50px;


    h1 {
        font-size: 52px;
    }
    p{
        margin-top: -20px;
        font-size: 20px;
        strong{
            color: #93c79f;
        }
    }
}

.custom-domain {
    font-size: 14px;
    background-color: #93c79f;
    height: 50px;
    width: 200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
    border-radius: 1px;
}
